<h1>Restablecimiento de contraseña</h1>
<hr>
<form class="m-2" action="/api/sessions/forget_password" method="post">
    Email: <input type="text" class="m-2 "name="email"> <input class="btn btn-primary m-2" type="submit" value="Restablecer contraseña"><br><br> 
</form>
