<h1>Crea una nueva contraseña</h1>
<hr>
<form class="m-2"   action="/api/sessions/reset_password/{{ this.user }}" method="post">
    Nueva contraseña: <input  type="text" name="newPassword"> <input class="btn btn-primary m-2" type="submit" value="Cambiar contraseña"><br><br> 
</form>
